
/* Message Style*/

h1 {
    text-align: center;
}

/* Body Style */
.inventory-body {
    position: fixed;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-color: #F8F8F8;
    }

/* Toast Style */

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -150px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 500px; 
  }
  

  #snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 500px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 500px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 500px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 500px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }